<script
  type="module"
  src="/script/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>

<!-- Development CDN dont forget to change it! -->
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

<script src={{ "/script/anime.js" | url }}></script>
<script src={{ "/script/bootstrap.js" | url }}></script>

