<div class="me-soft-skills">
  <div class="glassmorp-card me-soft-skills-item">
    <h2 class="me-soft-skills-headings"> Adaptable and Innovative </h2>

    <p
      >I'm commitment to remaining at the forefront of the ever-evolving web
      development industry and openness to innovation.</p
    >
  </div>

  <div class="glassmorp-card me-soft-skills-item">
    <h2 class="me-soft-skills-headings"> Adaptable and Innovative </h2>

    <p
      >I'm commitment to remaining at the forefront of the ever-evolving web
      development industry and openness to innovation.</p
    >
  </div>
  <div class="glassmorp-card me-soft-skills-item">
    <h2 class="me-soft-skills-headings"> Adaptable and Innovative </h2>

    <p
      >I'm commitment to remaining at the forefront of the ever-evolving web
      development industry and openness to innovation.</p
    >
  </div>
</div>
