<div class="me-soft-skills">
  <div
    class="glassmorp-card me-soft-skills-item"
    aria-selected="false">
    <h2 class="me-soft-skills-headings"> Detail-Oriented and Perceptive</h2>

    <p
      >I excel in state management, responsive web design, and delivering
      seamless user experiences. These strengths reflect my meticulous attention
      to detail and perceptive understanding of user interactions.</p
    >
  </div>

  <div
    class="glassmorp-card me-soft-skills-item"
    aria-selected="false">
    <h2 class="me-soft-skills-headings"> Adaptable and Innovative </h2>

    <p
      >I'm commitment to remaining at the forefront of the ever-evolving web
      development industry and openness to innovation.</p
    >
  </div>
  <div
    class="glassmorp-card me-soft-skills-item"
    aria-selected="false">
    <h2 class="me-soft-skills-headings"> Collaborative and Creative </h2>

    <p>
      I extend an invitation to collaborate on front-end projects, fueled by my
      collaborative spirit. My aspiration to embark on a journey of cutting-edge
      creativity signifies a strong inclination for imaginative
      problem-solving.</p
    >
  </div>
</div>
