<main
  class="main-container"
  >
  <section id="about-me" class="sect-one-introduce triangle-container relative-container">
    <div class="about-me"  >
      <div class="inner-about-me">
        <h2
          class="about-me-heading heading-font"
          data-inview-about
          >Short introducing<span class="mark_green">_</span></h2
        >
        <p
          data-inview-about
          class="about-me-text paraghraph-default-font"
          >I'm a college student at Universitas Muhammadiyah Sumatera Utara,
          pursuing a degree in Information Technology. I'm deeply passionate
          about honing my skills in Math and Backend Technology. This journey
          reflects a commitment to learning, adapting, and creating innovative
          solutions for exceptional user experiences in the dynamic world of web
          development.</p
        >
      </div>

      {% include "utils/softskills.njk" %}
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="700"
      viewBox="0 0 200 200"
      stroke="rgb(173, 250, 29)"
      fill="none"
      stroke-width="2.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      data-animate-path>
      <path
        class="animate-path"
        d="M58.497 82.309c-44.5-16-40.5 62 3.5 46.5 19.868-10.664 28.199-20.615 44.18-36.775 20.028-20.553 46.205-38.081 63.561-2.978 11.824 23.913-8.098 37.16-29.954 27.551L58.497 82.309Z" />
    </svg>
  </section>

  {% include "body-templates/certification.njk" %}  

  {% include "body-templates/projects.njk" %}
</main>
