<header
  id="header-container"
  class="header-container">
  <div class="content-wrapper">
    <div class="relative-container">
      <div
        class="profile-image-elements with-images"
        data-inview-profile="1"></div>
      <div
        class="profile-image-elements"
        data-inview-profile="2"></div>
    </div>
    <div class="profile-introduce-container">
      <h1
        class="profile-title"
        data-inview-introduce
        >Hello I'm Jack Front-end Developer<span class="mark_green">_</span>
      </h1>
      <p
        class="profile-short-introduce"
        data-inview-introduce
        >I'm Zaky Irwansyah Andhika, a Front-end Web Developer based in Medan
        Kota, North Sumatra, Indonesia. Currently studying Information
        Technology, I'm honing my skills in Math and Backend Technology.
        Proficient in Next.js/React Js, state management, and responsive web
        design, I'm dedicated to creating top-notch user experiences while
        staying up-to-date with the latest trends. Let's collaborate on
        innovative front-end projects and make a difference together.</p
      >
      <a href="#about-me">
        <button
          class="btn btn-primary animate-button-this"
          data-inview-introduce>
          <span>Explore More</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="=20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.3333333333333333"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-right">
            <path d="m9 18 6-6-6-6" />
          </svg>
        </button>
      </a>
    </div>
  </div>
</header>
