<header
  id="header-container"
  class="header-container">
  <div class="content-wrapper">
    <div class="relative-container">
      <div
        class="profile-image-elements with-images"
        data-inview-profile="1"></div>
      <div
        class="profile-image-elements ss"
        data-inview-profile="2"></div>
    </div>
    <div class="profile-introduce-container">
      <h1
        class="profile-title"
        data-inview-introduce
        >Hello I'm Jack Front-end Developer<span class="mark_green">_</span>
      </h1>
      <p
        class="profile-short-introduce"
        data-inview-introduce
        >I'm Zaky Irwansyah Andhika, a Front-end Web Developer based in Medan
        Kota, North Sumatra, Indonesia. Currently studying Information
        Technology, I'm honing my skills in Math and Backend Technology.
        Proficient in Next.js/React Js, state management, and responsive web
        design, I'm dedicated to creating top-notch user experiences while
        staying up-to-date with the latest trends. Let's collaborate on
        innovative front-end projects and make a difference together.</p
      >
      <div class="button-action-container">
        <a
          href="assets/zaky_irwansyah_andhika_current_cv.pdf"
          download="zaky_current_cv.pdf"
          class="animate-button-this"
          data-inview-introduce>
          <button class="btn animate-button-this">
            <span>Download My Cv</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="0.9"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-file-text">
              <path
                d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z" />
              <polyline points="14 2 14 8 20 8" />
              <line
                x1="16"
                x2="8"
                y1="13"
                y2="13" />
              <line
                x1="16"
                x2="8"
                y1="17"
                y2="17" />
              <line
                x1="10"
                x2="8"
                y1="9"
                y2="9" />
            </svg>
          </button>
        </a>
        <a
          href="#about-me"
          data-inview-introduce
          class="animate-button-this">
          <button class="btn btn-primary">
            <span>Explore More</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.3333333333333333"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-right">
              <path d="m9 18 6-6-6-6" />
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>
</header>
