<nav class="navbar-container include-glassmorphism">
  <div class="navbar-menu">
    <a
      href="#about-me"
      data-menu-animate
      >About
    </a>
    <a
      href="#"
      data-menu-animate
      >Projects</a
    >
    <a
      href="#"
      data-menu-animate
      >Tech Stack</a
    >
    <a
      href="#"
      data-menu-animate
      >Contacts</a
    >
  </div>
</nav>
