<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/styles/global-style.css" />

    <title>{{ title }}</title>
  </head>
  <body>

    {% include "body-templates/navbar.njk" %}

    {% include "body-templates/header.njk" %}

    {% include "body-templates/about.njk" %}

    {% include "script-templates/script.njk" %}
  </body>
</html>
